<h3>Curriculum Details</h3>
<hr class="style-one" ><br />

<strong>Name :&nbsp;&nbsp;</strong> 
  <%= @curriculum.name %><br /><br />

<strong>Ratings Range :&nbsp;&nbsp;</strong> 
  <%= @curriculum.min_rating.zero? ? "Unrated" : @curriculum.min_rating %> - <%= @curriculum.max_rating %><br /><br />

<strong>Description :&nbsp;&nbsp;</strong><br><br /> 
  <%= @curriculum.description %><br /><br />

<strong>Active ?&nbsp;&nbsp;</strong>
  <%= @curriculum.active ? "Yes" : "No" %><br /><br />

<br><br><br><br>

<% if !current_user.nil? %>
	<%= link_to "Edit this curriculum", edit_curriculum_path(@curriculum), class: "button radius" %>&nbsp;&nbsp;
<% else %>
  <%= link_to 'Back', home_path , class: "button tiny radius" %>
<% end %>