<h3>Active Students</h3>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Family</th>
    <th>Date of birth</th>
    <th>Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @active_students.each do |student| %>
  <tr>
    <td><%= link_to student.first_name, student_path(student) %></td>
    <td><%= student.last_name %></td>
    <td><%= student.family_id %></td>
    <td><%= student.date_of_birth %></td> 
    <td><%= student.rating %></td>
    <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
