<h3>Active Students</h3>
<hr class="style-one" ><br>

<% if @active_students.empty? %>
  <p><em>There are no active students at this time.</em></p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Family</th>
        <th>Date of birth</th>
        <th>Age</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>

  <% @active_students.each do |student| %>
    <tr>
      <td><%= link_to student.name, student_path(student) %></td>
      <td><%= student.family_id %></td>
      <td><%= student.date_of_birth.strftime("%b %d, %Y") %></td> 
      <td><%= student.age %></td> 
      <td><%= student.rating == 0 ? "Unrated" : student.rating %></td>
      <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny round alert" %></td>
    </tr>
  <% end %>
  </table>
  <!-- Add the pagination using will_paginate gem -->
  <span class="paginate">
  <%= will_paginate @active_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
<% end %>
