<h3>Student Details</h3><br />

<p>
  <strong>Name :</strong>
  <%= @student.proper_name %>
</p>

<p>
  <strong>Family :</strong>
  <%= link_to @student.family.family_name, family_path(@student.family) %><br /></p>

<p>
  <strong>Date of birth :</strong>
  <%= @student.date_of_birth.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Age :</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Rating :</strong>
  <%= @student.rating == 0 ? "Unrated" : @student.rating %>
</p>

<strong>List of Camps :&nbsp;&nbsp;</strong> <br><br>
  <%= render :partial => "display_students_camps" %><br />

<p>
  <strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>

<%= link_to "Display All Students", students_path, class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to "Edit Student", edit_student_path(@student), class: "button tiny radius" %>&nbsp;&nbsp;
