<p id="notice"><%= notice %></p>
<h3>Student Details</h3><br />

<p>
  <strong>Name:</strong>
  <%= @student.proper_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @student.family_id %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @student.date_of_birth.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @student.rating == 0 ? "Unrated" : @student.rating %>
</p>

<strong>List of Camps:&nbsp;&nbsp;</strong> <br><br>
  <%= render :partial => "display_students_camps" %><br />

<p>
  <strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
