<p id="notice"><%= notice %></p>
<h3>Family Details</h3><br>
<p>
  <strong>Family name :</strong>
  <%= @family.family_name %>
</p>

<p>
  <strong>Parent first name :</strong>
  <%= @family.parent_first_name %>
</p>

<p>
  <strong>Email :</strong>
  <%= mail_to @family.email, @family.email, encode: "javascript" %>
</p>

<p>
  <strong>Phone :</strong>
  <%=@family.phone[0,3]+"-"+@family.phone[3,3]+"-"+@family.phone[6,4] %>
</p>

<p>
  <strong>Active :</strong>
  <%= @family.active ? "Yes" : "No" %>
</p>

<p>
  <strong>Students &nbsp&nbsp&nbsp&nbsp (Rating) :</strong>
  <%= render :partial => "display_familys_students" %><br />
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
