<h3>Users</h3>
<hr><br>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Instructor</th>
      <th>Role</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.instructor.proper_name %></td>
        <td><%= user.role.capitalize %></td>
        <td><%=  user.active ? "Yes" : "No" %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span>NOTE : New users can only be created through the instructors page</span>