<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :street_1 %>
    <%= f.input :street_2 %>
    <%= f.input :city %>
    <%= f.input :state, collection: ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA","ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH","OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"] , prompt: "Select state from list....."%>
    <%= f.input :zip %>
    <%= f.input :max_capacity %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of locations', locations_path, :class => 'button secondary radius' %>
    </div>
<% end %>
