<h3>Location Details</h3>
<hr class="style-one" ><br>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong><br><br>
  <%= @location.street_1 %>, <%= @location.street_2 %> <br>
  <%= @location.city %>, <%= @location.state %> <%= @location.zip %>
</p>

<p>
  <strong>Maximum Capacity:</strong>
  <%= @location.max_capacity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @location.active ? "Yes" : "No" %>
</p>
 
<strong>Map:</strong> <br><br>
<%= image_tag @location.create_map_link %> <br><br>
<hr class="style-one" ><br>


<% if !current_user.nil? %>
	<%= link_to "Display All Locations", locations_path, class: "button tiny radius" %>&nbsp;&nbsp;
	<%= link_to "Edit Location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
	<%= link_to 'Delete Location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location from the system?' }, method: :delete, class: "button tiny radius alert" %>
<% else %>
  <%= link_to 'Back', home_path , class: "button tiny radius" %>
<% end %>