<p id="notice"><%= notice %></p>
<h3>Location Details</h3><br />

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.street_1 %>, <%= @location.street_2 %> <br>
  <%= @location.city %>, <%= @location.state %> <%= @location.zip %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @location.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @location.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Maximum Capacity:</strong>
  <%= @location.max_capacity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @location.active ? "Yes" : "No" %>
</p>
 
<strong>Map:</strong>
<%= image_tag @location.create_map_link %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
